<%= content_for(:title, @author.name) %>
<h1><%= @author.name %></h1>

<%= link_to 'Edit Author', edit_author_path(@author), class: ['badge', 'badge-pill', 'badge-light'] %>

<%= render partial: 'sources/sources', locals: { sources: @sources } %>
