<%= content_for(:title, 'Tag: ' + @tag.title) %>
<h1><%= @tag.title %></h1>
 
<%= link_to 'Edit Tag', edit_tag_path(@tag), class: ['badge', 'badge-pill', 'badge-light'] %>

<%= render partial: 'highlights/highlights', locals: { highlights: @tag.highlights } %>
