<%= content_for(:title, 'Tags') %>
<h1>Tags</h1>

<%= link_to 'New tag', new_tag_path, class: ['badge', 'badge-pill', 'badge-primary'] %>
<%= link_to 'Merge tags', tags_merge_path, class: ['badge', 'badge-pill', 'badge-secondary'] %>

<%= render partial: 'tags', locals: { tags: @tags } %>
