/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require chosen

 */

@import 'bootstrap';
@import "font-awesome";

// Global.

div.container {
  margin-top: 20px;
}

// Forms.

.filter-form {
  margin: 10px;
}

.form-checkbox {
  input[type="checkbox"] {
    float: left;
    height: 1.5em;
    width: 20px;
  }
}

// Colors.

.red {
  color: red;
}

.gray {
  color: gray;
}

.edit {
  color: gray;
}

.edit:hover {
  color: blue;
}

.delete:hover {
  color: red;
}

.publish.gray:hover,
.favorite.gray:hover {
  color: red;
}

.publish.red:hover,
.favorite.red:hover {
  color: gray;
}

// Tables.

tr:nth-of-type(even) {
  background: #EEEEEE;
}

th, td {
  padding: 10px;
}

td.operations {
  text-align: center;
}

// Autocompletion.

ul.ui-autocomplete {
  background-color: #eee;
  list-style: none;
  padding: 5px;
  width: 250px !important;

  li div:focus,
  li div:hover
  {
    background-color: #007bff;
    color: #fff;
  }
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr { border: 1px solid #ccc; }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    min-height: 40px;
    position: relative;
    padding-left: 35% !important;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 30%;
    font-weight: bold;
    padding-right: 10px;
    white-space: nowrap;
  }

  /* Label the table columns */
  table.highlights {
    td:nth-of-type(1):before { content: "Source"; }
    td:nth-of-type(2):before { content: "Highlight"; }
    td:nth-of-type(3):before { content: "Note"; }
    td:nth-of-type(4):before { content: "Tags"; }
    td:nth-of-type(5):before { content: "Operations"; }
  }
  table.highlights.no-source {
    td:nth-of-type(1):before { content: "Highlight"; }
    td:nth-of-type(2):before { content: "Note"; }
    td:nth-of-type(3):before { content: "Tags"; }
    td:nth-of-type(4):before { content: "Operations"; }
  }
  table.sources {
    td:nth-of-type(1):before { content: "Title"; }
    td:nth-of-type(2):before { content: "Author"; }
    td:nth-of-type(3):before { content: "Type"; }
    td:nth-of-type(4):before { content: "Operations"; }
  }
  table.tags {
    td:nth-of-type(1):before { content: "Title"; }
    td:nth-of-type(2):before { content: "Operations"; }
  }

}
